<div>
  testing
  <select name="Choice">
    <option value="Authors">Authors</option>
    <option value="Books">Books</option>
  </select>
  <input type="text" placeholder="Search..">
</div>
<div>
  <div (click)="setSelectedTab('authors')">Authors
    <div *ngIf="selectedTab=='authors'">
      <authorsList></authorsList>
    </div>
  </div>
  <div (click)="setSelectedTab('books')">Books
    <div *ngIf="selectedTab=='books'">
      <booksList></booksList>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
