<div class="container">

<select name="Choice">
    <option value="Authors">Authors</option>
    <option value="Books">Books</option>
  </select>
  <input type="text" placeholder="Search.." [formControl]="searchValue">
  <button (click)="runSearch()">Search</button>

  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Pages</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let book of books"><td>{{book.title}}</td> <td>{{book.author.name}}</td><td>{{book.pages}}</td> <td>{{book.price}}</td></tr>
  </table>

</div>
